@{
    ViewData["Title"] = "Todos";
}
<div class="text-center">
    <h1 class="display-4">To do list</h1>
    <ol class="list-group">
        <li class="list-group-item">Task 1</li>
        <li class="list-group-item">Task 2</li>
        <li class="list-group-item">Task 3</li>
        <li class="list-group-item">Task 4</li>
    </ol>
</div>
